* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

main {
  min-height: 100vh;
  background-color: white;
}

.recipe a{
  color: #F78154 !important;
  font-weight: 700 !important;
}

datalist#ingredient-list *{
  background-color: aqua;
}

#what {
  min-width: 170px !important
}

#checkbox label span.chakra-checkbox__control{
  border: 2px solid #F78154 !important
}

@media screen and (max-width:800px) {
  #homepage-image{
    top:5vh !important
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: "Fraunces", serif !important;
}

@media screen and (max-width:560px) {
  #popular-recipes{
    padding-top: 35vw;
  }

  #home-heading{
    font-size: 20px;
  }

  #home-text{
    font-size: 14px;
  }

  h4{
    font-size: 18px !important;
  }

  #filter-card-box-outer, #recipe-beginning{
    flex-direction: column;
  }

  #filter-card-box{
    flex-wrap: wrap;
  }

}